*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.container {
  border: 3px solid transparent;
  border-radius: 50px;
  margin: auto;
  background: #023047;
  max-width: 450px;
  
}

body {
  padding: 0;
  margin: 0;
  background:  #ffb703;
  overflow: hidden;
}

.calculator {
  margin: auto;
  /* max-width: 500px; */
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: minmax(120px, auto) repeat(5,10%);
}

button {
  margin: auto;
  /* max-width: 60vh; */
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 100%;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  height: 90%;
  font-weight: bold;
}

button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-one {
  grid-column: span 2;
}

.display {
  max-width: 400px;
  grid-column: 1 / -1;
  background-color: #8ecae6;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 20px;
  margin-bottom: 2%;
}

.display .prev-operand {
  color: black;
  font-size: 1.5rem;
}

.display .current-operand {
  color: black;
  font-size: 2.5rem;
}